<!DOCTYPE html>
<html lang="en">
<head>
    <iframe name="dummy" id="dummy" style="display: none" height="30px" scrolling="no"></iframe>
    <link rel="stylesheet" href="static/css/classes.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->

    <template id="studentBoxTemplate">
        <div class="student-box">
            <div class="box">
                <div class="StudentName"></div>
                <div class="StudentTardies"></div>
            </div>
        </div>
    </template>
</head>
<body>
    {% if current_user.isAdmin %}
    <div class="EditButtonsColumn">
        <button id="createStudent">Create Student</button>
        <form id="studentInputFields" method="POST" action="/createStudent" style="display: none;" target="dummy">
            <input type="text" name="first_name" placeholder="First Name" id="first_name">
            <input type="text" name="last_name" placeholder="Last Name" id = "last_name">
            <input type="file" name="imageInput" id="imageInput" accept="image/*">
            <button id="confirmCreateStudent" onclick="">Confirm</button>
        </form>
        <h2>Select a Class:</h2>
        <select id="classDropdown">
            <option value="" disabled selected id="option">Select a class</option>
        </select>
    </div>
    {% endif %}

    <div id="classList">
        <div id="ClassName"></div>
        <div id="studentContainer"></div>
    </div>
    


    <script src="static/js/classes.js"></script>
</body>
</html>

<!-- 1. Make boxes based off of how many students there are in a class
2. Populate teh boxes with the data
3. Make the button to create student, make a new student on the BACKEND not the FRONTENT
 - Make sure it updates it based on the number of students so if i add one itll refresh making a new box for the person-->
