<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Class Dashboard</title>
		<link rel="stylesheet" href="static/css/dashboard.css" />
		<script src="static/js/lib/jquery.min.js"></script>
		<script src="static/js/index.js"></script>
	</head>
	<body>
		<div class="dashboard-container">
			<div class="left-column">
				<!-- Start of Camera notifier -->
				<div class="camera-overview section">
					<h1>Please connect camera</h1>
					<p>Some or all cameras have lost signal!</p>
					<div class="camera-buttons">
						<button class="filled-button" onclick="pageSwitch('cameras', '2', true)">Manage Cameras</button>
					</div>
				</div>
				<!-- End of Camera notifier -->
				<!-- Start of Quickview Modal-->
				<div class="overview section">
					<div class="overview-filters" id="filters">
						<button onclick="tabSwitch('0')" class="on-time filled-button" id="0">On Time</button>
						<button onclick="tabSwitch('1')" class="late unfilled-button" id="1">Late</button>
						{% if current_user.isAdmin %}
						<button onclick="tabSwitch('2')" class="trends unfilled-button" id="2">Admin Tools</button>
						{% endif %}
					</div>
					<div id="overviews-parent">
						<div class="on-time overview-section active">
							<p>{{user_classes}}</p>
						</div>
						<div class="late overview-section inactive">
							<p>This really worked?</p>
						</div>
						{% if current_user.isAdmin %}
						<div class="trends overview-section inactive">
							<iframe name="dummy" id="dummy" style="display: block; border: none;" height="30px" scrolling="no"></iframe>
							<div>
							<h1>Add class to user</h1>
								<form class="admin-tools" method="POST" action="/users/addClass" target="dummy">
									<input class="input" type="text" name="username" placeholder="Username" autofocus="" required>
									<input class="input" type="text" name="class_name" placeholder="Class Name" autofocus="" required>
									<button class="filled-button" type="submit">Add</button>
								</form>
							</div>
							<div>
								<h1>Remove class from user</h1>
								<form class="admin-tools" method="POST" action="/users/removeClass" target="dummy">
									<input class="input" type="text" name="username" placeholder="Username" autofocus="" required>
									<input class="input" type="text" name="class_name" placeholder="Class Name" autofocus="" required>
									<button class="filled-button" type="submit">Remove</button>
								</form>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<!-- End of Quickview Modal-->
			</div>
			<div class="right-column">
				<div class="classlist section">
					<select id="classListDropdown">
					</select>
					<select id="classListSortby" style="float: right;">
						<option value="0" selected>Sort by Tardies (Accending)</option>
						<option value="1">Sort by Tardies (Decending)</option>
						<option value="2">Sort by Last Name (A-Z)</option>
						<option value="3">Sort by Last Name (Z-A)</option>
					</select>
					<div id="classList"></div>
				</div>
				<div class="fade-list">
					<button class="filled-button" onclick="pageSwitch('classes', '3', true)" id="0">Show Classes</button>
				</div>
			</div>
		</div>
		<script src="static/js/dashboard.js"></script>
	</body>
</html>