<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Dashboard</title>
    <link rel="stylesheet" href="static/css/dashboard.css" />
    <script src="static/js/index.js"></script>
    <script src="static/js/dashboard.js"></script>
</head>
<body>
    <div class="dashboard-container">
        <div class="left-column">
            <div class="camera-overview section">
                <h1>Please connect camera</h1>
                <p>Some or all cameras have lost signal!</p>
                <div class="camera-buttons">
                    <button class="filled-button" onclick="pageSwitch('cameras', '2', true)">Manage Cameras</button>
                </div>
            </div>
            <div class="overview section">
                <div class="overview-filters" id="filters">
                    <button onclick="tabSwitch('0')" class="on-time filled-button" id="0">On Time</button>
                    <button onclick="tabSwitch('1')" class="late unfilled-button" id="1">Late</button>
                    <button onclick="tabSwitch('2')" class="trends unfilled-button" id="2">Trends</button>
                </div>
                <div id="overviews-parent">
                    <div class="on-time overview-section active">
                        <p>Hello</p>
                    </div>
                    <div class="late overview-section inactive">
                        <p>This really worked?</p>
                    </div>
                    <div class="trends overview-section inactive">
                        <img src="static/media/goose.jpg" width="100%" height="200px">
                    </div>
                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="classlist section">
                <h2>>Class Name Here<</h2>
            </div>
        </div>
    </div>
</body>
</html>
