{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="static/css/main.css">
		<link rel="stylesheet" href="static/css/all.css">
		<script src="https://kit.fontawesome.com/3fd456368c.js" crossorigin="anonymous"></script>
		<script src="static/js/index.js"></script>
		<link rel="icon" type="image/x-icon" href="static/media/favicon.ico">
	</head>
	<body>
		<!-- Start of Header -->
		<header>
			<h1>Dashboard</h1>
			<div class="search-container">
				<button class="search-button">
					<i class="fa fa-search"></i>
				</button>
				<!-- This search bar doesn't know how to search -->
				<input type="text" class="search-input" placeholder="Search..." maxlength="100"/>
			</div>
			<div class="user-info">
				<img src="static/media/default_avatar.png" alt="User Avatar" class="avatar" width="40" height="40" />
				<button onclick="pageSwitch('account', '6', false)" class="account">{{username}}</button>
				<a href="/logout">
					<i class="fa fa-arrow-right-from-bracket logout">
						<span>logout</span>
					</i>
				</a>
			</div>
		</header>
		<!-- End of Header -->
		<main>
			<!-- Start of side navbar -->
			<nav>
				<div class="navbar-buttons">
					<button onclick="pageSwitch('dashboard', '0', false)" id="0">
						<i class="navbar-button fa fa-square active"></i>
						<span>Dashboard</span>
					</button>
					{% if current_user.isAdmin %}
					<button onclick="pageSwitch('server', '1', false)" id="1">
						<i class="navbar-button fa fa-server"></i>
						<span>Server</span>
					</button>
					{% endif %}
					<button onclick="pageSwitch('cameras', '2', false)" id="2">
						<i class="navbar-button fa fa-layer-group"></i>
						<span>Cameras</span>
					</button>
					<button onclick="pageSwitch('classes', '3', false)" id="3">
						<i class="navbar-button fa fa-user-group"></i>
						<span>My Classes</span>
					</button>
					<button onclick="pageSwitch('notifications', '4', false)" id="4">
						<i class="navbar-button fa fa-bell"></i>
						<span>Notifications</span>
					</button>
				</div>
				<div class="navbar-buttons">
					<button onclick="pageSwitch('account', '5', false)" id="5">
						<i class="navbar-button fa fa-user inactive"></i>
						<span>My Account</span>
					</button>
					<button onclick="pageSwitch('settings', '6', false)" id="6">
						<i class="navbar-button fa fa-gear inactive"></i>
						<span>Settings</span>
					</button>
				</div>
				<div class="navbar-buttons">
					<button>
						<i class="fa fa-circle-question"></i>
						<span>
							<a href="https://google.com" target="_blank" rel="noopener noreferrer">Help and Support</a>
						</span>
					</button>
				</div>
			</nav>
			<!-- End of side navbar -->
			<!-- Start of Main Content -->
			<div class="main-content">
				<iframe src="dashboard" frameborder="0" id="content-iframe"></iframe>
			</div>
			<!-- End of Main Content -->
		</main>
		<footer>
			<p>&copy; 2024 FRAttendance. Copyright lololol.</p>
		</footer>
	</body>
</html> {% endblock %}