* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%;
    overflow-x: hidden;
}

.dashboard-container {
    display: flex
}

.left-column {
    flex: 1.65;
    display: flex;
    flex-direction: column;
}

.right-column {
    flex: 1;
}

.section {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.camera-overview {
    color: white;
    background-color:#8C52FF;
}

.camera-overview .unfilled-button,
.camera-overview .filled-button {
    margin-left: 0px;
    margin-right: 20px;
}

.overview {
    height: 100%;
    background-color:#8C52FF;
}

.classlist {
    grid-column: span 2;
    width: 90%;
    height: 80vh; /* Keep height constant, elements will scroll */
    color: white;
    overflow-y: scroll;
    padding-top: 0px;
}

.classlist::-webkit-scrollbar {
    display: none;
}

.classlist #classListTitle {
    color: gray;
    border-radius: 10px;
    padding: 20px;
}

.fade-list {
    position: relative;
    width: 100%;
    height: 50px; 
    top: -50px;
    z-index: 10;
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 69%, rgba(238, 238, 238, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-list a {
    margin-top: 20px;
    color: #8C52FF;
    font-size: large;
    text-decoration: none;
}

.classlist ul {
    background-color: white;
    border-radius: 20px;
    list-style-type: none;
    padding-left: 0;
}

.classlist ul hr{
    width: 60%;
}

.classlist ul li {
    height: 64px;
    color: black;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.classlist ul li h3{
    margin: 0;
}

.classlist ul li div{
}

.classlist ul li img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 11px;
    margin-bottom: auto;
    float: left;
}

/* h2 inherits margin from user agent stylesheet,
   we don't want this because it messes up the position of that class list position 
   - louis*/
.classlist h2 {
    margin: 0px;
}

.overview-section {
    color: white;
}

.overview-section.active {
}

.overview-section.inactive {
    display: none;
}

.filled-button{
    font-size: large;
    padding: 20px;
    margin: 20px;
    background-color:#ffffff;
    border: solid white; /* keeps height and width congruent with unfilled buttons */
    border-radius: 10px;
    color: #8C52FF;
    transition: 0.1s;
}

.filled-button:hover {
    filter: drop-shadow(10px 5px 7px #00000049);
}

.filled-button:active {
    color: black;
    background-color: white;
}

.unfilled-button {
    font-size: large;
    padding: 20px;
    margin: 20px;
    color: white;
    border: solid white;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.1s;
}

.unfilled-button:hover {
    filter: drop-shadow(10px 5px 7px #00000049);
}

.unfilled-button:active {
    color: black;
    background-color: white;
}

.overview-filters .unfilled-button, 
.overview-filters .filled-button {
    padding: 10px;
}

.overview-filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-text-only{
    border: none;
    background: none;
    cursor: pointer;
    color: #8C52FF;
}